<h1>New game</h1>
<div class="container">
  <% @letters.each do |element| %>
  <div class="letter">
  <h1><%= element %></h1>
  </div>
  <% end %>
</div>

<form action="/score" method="post">
  <label for="">What is the longest word you can find?</label>
  <input type="text" name="answer" id="answer">
  <input type="submit" value="Play" id="submit">
  <input type="hidden" name = "grid" value= "<%= @letters %>">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
